spring:
  application:
    name: fintech-wallet

  datasource:
    url: jdbc:postgresql://localhost:5432/wallet_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: false

server:
  port: 8080

logging:
  level:
    com.fintech.wallet: INFO
    org.springframework: WARN
